{:deps {
        org.clojure/clojure       {:mvn/version "RELEASE"}
        org.clojure/tools.cli     {:mvn/version "RELEASE"}
        clojure-term-colors       {:mvn/version "RELEASE"}
        mvxcvi/puget              {:mvn/version "RELEASE"}
        pack/pack.alpha           {:git/url "git@github.com:juxt/pack.alpha.git"
                                   :sha "3127f79578c565013c918231dbd1ba857aa02c8f"}}

 :paths ["src"]}
