{:own []
 :foreign {
           org.clojure/clojure       {:mvn/version "RELEASE"}
           org.clojure/tools.cli     {:mvn/version "RELEASE"}
           clojure-term-colors       {:mvn/version "RELEASE"}
           cheshire                  {:mvn/version "RELEASE"}
           mvxcvi/puget              {:mvn/version "RELEASE"}
           pack/pack.alpha           {:git/url "git@github.com:juxt/pack.alpha.git"
                                      :sha "2769a6224bfb938e777906ea311b3daf7d2220f5"}}}
